.Product{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 185px;
    min-width: 100px;
    background: rgb(241 245 249);
}

.Product .Rectangle{
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
}

.Product .Details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.Product .Numbers{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 1rem 0.5rem;
    padding-top: 0.5rem;
}

.Product .Numbers p{
    cursor: pointer;
}

.Product .Numbers .Selected{
    font-weight: 500;
    color : rgb(22 163 74);
}