.TextInputShared {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: start;
  gap: 0.5rem;
}

.TextInputShared.TextInputShared-Top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TextInputShared .Caption {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
}

.TextInputShared input {
  border: 0;
}

.TextInputShared .Star {
  color: var(--color-error);
}

.TextInputShared .Caption-Error {
  color: var(--color-error);
}

.TextInputShared .ErrorMessage {
  grid-column: 2;
  color: var(--color-error);
}
