.ProductsSection {
  margin: 0 1rem;
}

.ProductsSection .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductsSection h1 {
  font-weight: bold;
}

.ProductsSection .Products {
  margin-top: 2rem;
}
